/* när man har anget endast body och container så ser man frame. För att täcka helt 
ska man ange * då anropas hela framet i webbsidan */

*{
    margin: 0;
}
body{
    background-color: aquamarine;
}

.container{
    background-color: salmon;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.text:hover{
    color: tan;
}

/* cursor changing that you canot touch the button */
.button:disabled{
    cursor: not-allowed;
}

.input:focus{
    border: rgb(68, 17, 68);

    padding: 5px;
}

/* anropa listor */
.list-item:first-child{
    color: white;
}
.list-item:nth-child(2){
    color: teal;
}
.list-item:last-child{
    color: yellowgreen;
}