/* när man har anget endast body och container så ser man frame. För att täcka helt 
ska man ange * då anropas hela framet i webbsidan */

*{
    margin: 0;
}
body{
    background-color: aquamarine;
}

.container{
    background-color: salmon;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 100px;
}



.x{
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 50%;
}

.y{
    width: 1px;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 50%;
}

.item{
    width: 100px;
    height: 100px;
    background-color: gold;
    transition: all 1s ease; /*ease gör naimation smooth. All gör att den animerar varje hörna. 1s är duration, kolla på morzilla documentet*/
    transform-origin: bottom;
    transform-origin: top left; /*precisa som animation.css hur dom har byggt exemple*/
}

.item:hover{
transform: rotate(50deg)
}
/*skapa kordinater*/

