/* när man har anget endast body och container så ser man frame. För att täcka helt 
ska man ange * då anropas hela framet i webbsidan */

*{
    margin: 0;
}
body{
    background-color: aquamarine;
}

.container{
    background-color: salmon;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 200px;
}

.item{
    width: 100px;
    height: 100px;
    background-color: gold;
    transition: all 1s ease; /*ease gör naimation smooth. All gör att den animerar varje hörna. 1s är duration, kolla på morzilla documentet*/

}

.item:hover{
  /*  transform: translate(50px,50px); */
/*   transform: rotate(90deg); */
/* transform: scale(5); */
/* transform: skew(50deg); */ /*den drar ut som rektangulär*/
transform: translateZ(100px)
}

