/* när man har anget endast body och container så ser man frame. För att täcka helt 
ska man ange * då anropas hela framet i webbsidan */

*{
    margin: 0;
}
body{
    background-color: aquamarine;
}

.container{
    background-color: salmon;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    width: 300px;
    height: 300px;
    background-color: steelblue;
    position: relative;
}

h1{
    bottom: 50px;
    left: 50px;
    position: absolute;
}

.container-item{
    width: 200px;
    height: 200px;
    background-color: tan;
    position: relative;
}