/* när man har anget endast body och container så ser man frame. För att täcka helt 
ska man ange * då anropas hela framet i webbsidan */

*{
    margin: 0;
}
body{
    background-color: aquamarine;
}

.container{
    background-color: whitesmoke;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    width: 50px;
    height: 50px;
    display: flex;
    border: 2px solid #333;
display: flex;
align-items: center;
justify-content: center;
border-radius: 20px;
position: relative;
margin: 10px;
overflow: hidden;
}

.fill{
    width: 120%;
    height: 120%;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: -50px;
    transition: all .5s ease;
}

.button:hover .fill{
    transform: translate(45px,-45px)
}

.button:hover .icon{
    color: white;
}

.icon{
    z-index: 2;
}