*{
    margin: 0px;
   margin: 0px;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh; /* här är svaret!" */
   background-color: lightgoldenrodyellow;
   font-family: 'Roboto', sans-serif;
}

.container{
display: flex;
align-items: center;
justify-content: center;
width: 120px;
height: 50px;
background-color: dodgerblue;
color: white;
position: relative;
cursor: pointer;
overflow: hidden;
}

.button{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.icons{
   width: 100%;
   height: 100%;
   position: absolute;
   bottom: -50px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;

}
 .text{
   transition: all 0.2s ease-in;
} 
 .share{
   transition: all 0.3s ease-in;
} 

.icon:nth-child(1){
   transition: all 0.6s ease-in;
}
.icon:nth-child(2){
   transition: all 0.7s ease-in;
}
.icon:nth-child(3){
   transition: all 0.8s ease-in;
}

.container:hover .text,
.container:hover .share,
.container:hover .icon{
   transform : translateY(-50px);
}

