/* när man har anget endast body och container så ser man frame. För att täcka helt 
ska man ange * då anropas hela framet i webbsidan */

*{
    margin: 0;
}
body{
    background-color: aquamarine;
}

.container{
    background-color: salmon;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.text{
    color: white;

}

.text::before{
    content: "add before";
    color: yellowgreen;
}

.text::after{
    content: "add after";
    color: yellowgreen;
}

.text-2{
    color: white;
    font-size: 100px;
    position: relative;
    overflow: hidden; /*ett hint hur man får den till animation! */
}

.text-2::before{
    content: "Text";
    color: aqua;
    position: absolute;
    left: -60%; /*denna som kommer ut från overlow hidden till bokstäver, först step animatrion*/
}